:root {
    --background: linear-gradient(111.8deg, rgb(0, 104, 155) 19.8%, rgb(0, 173, 239) 92.1%);
--secondaryColor: white;
}
body {
   background: var(--background);
}


#nav-Bar-Top{
 width: 100%;
display: inline-block;
text-align: center;
padding: 0;
list-style: none;
margin-left: 0px;
font-size: 30px;
}

.invitation {
    display: flex;
    justify-content: center;
 
    
   
}

.invitePic{
     border: none
}

.bottomContainer, .invitation, .containerStart,.rsvpStart {
     margin-top: 95px;
}

.picStart{
    margin: 200px;
    font-size: 50px;
    font-weight: bolder;

}

.navbarNav{
    display: flex;
    justify-content: center;
}

.nav-Bar-Top{
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.infoMarTop{
    margin-top: 100px;
}

.paintballLink, .cabinLink {
    text-align: center;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    
   
    border-radius: 30px;
    display: block;
    margin: 0;
    margin-top: 300px;
}

.paintballLink:hover {
   
    color: white;
}

.cabinLink:hover {
   
    color: white;
}
 


#nav-Bar-Top{
      font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav-link{
    font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.nav-link {
   
   margin-left: 50px;
   margin-right: 50px;
}



